@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 927px) {
  .resultImg{
    margin: auto;
    margin-bottom: 5%;
    width: 85%;
    height: 98%;
  }
  .resultHood{
    margin: 0.3% 0;
    width: 100%;
  }
  .resultHours{
    margin: 0.3% 0;
    width: 100%;
  }
  .resultType{
    margin: 0.3% 0;
    width: 100%;
  }
  .resultTitle{
    font-size: 1.2em;
    margin-top: 0;
  }
}

@media (max-width: 767px) {
  /*.fullscreen-bg {
    background: url('') center center / cover no-repeat;
  }*/
  body{
    background-image: url('./images/optimismBrewing.jpg');
  }
  #headerTitle{
    font-size: .7em;
    margin-left: 5%;
  }
  #searchBox{
    /*font-size: 1.3em;*/
    /*height: 60px;*/
  }
  #backButton{
    font-size: 1.3em;
    height: 60px;
  }
  .leftResult{
    visibility: hidden;
    width: 0;
  }
  .rightResult{
    width: 100%;
    flex-direction: row;
    -moz-flex-direction: row;
    -webkit-flex-direction: cow;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -moz-justify-content: flex-start;
    align-content: space-between;
    -webkit-align-content: space-between;
    -moz-align-content: space-between;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;

  }
  .resultBox{
    height: 310px;
  }
  .resultTitle{
    font-size: 1.2em;
  }
  .resultsInfo{
    padding-left: 1%;
    width: 100%;
  }
  .resultsExtra{
    width: 100%;
    margin-bottom: 20px;
  }
  .resultImg{
    margin: auto;
    margin-bottom: 5%;
    width: 85%;
    height: 98%;
  }
  .resultHood{
    margin: 2% 0;
    width: 100%;
  }
  .resultHours{
    margin: 2% 0;
    width: 100%;
  }
  .resultType{
    margin: 2% 0;
    width: 100%;
  }
  .resultAddress{
    width: 70%;
  }
  .nowPic{
    width: 100%;
    height: 100%;
    margin-left: 5px;
    margin-bottom: -40px;
  }

  ul{
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    text-align: right;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
  }
  .nav>ul>li{
    margin-right: 20%;
  }
  #iframeAPIplayer {
    display: none;
  }
  .loadingImage{
    margin-top: 0;
  }
  #mapView{
    width: 100%;
    flex-direction: column;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    overflow-y: auto;
    justify-content: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
  }
  #googleMap{
    margin: auto;
    width: 500px;
    height: 200px;
  }
  #turnButtons{
    padding: 0 5%;
  }
  #turnByTurn{
    margin: auto;
    width: 500px;
    font-size: .6em;
    overflow: auto;

  }
  #textDirect{
      display: flex;
      display: -moz-flex;
      display: -webkit-flex;
      justify-content: center;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      flex-direction: column;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
  }
  #mode{
    margin: 0;
    margin-top: 5px;
  }
  #takeMe{
    margin-top: 5px;
  }
  .mapIcon{
    width: 20%;
    height: 10%;
  }
}
@media (max-width: 400px) {
  #searchBox{
    height: 40px;
  }
}
