html{
  width: 100%;
  height: auto;
  overflow: hidden;
}
body{
  height: auto;
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.backgroundVid{
  /*display: flex;
  display: -webkit-flex;
  display: -moz-flex;*/
  height: auto;
  width: auto;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
  background-color: rgba(0, 0, 0, 0.65);

}
.fullscreen-bg__video {
  -webkit-animation-duration: 10s;
  -moz-animation-duration: 10s;
  animation-duration: 3s;
}

iframe{
  height: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
  /*opacity: .9;*/
  top: 0;
	left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

header{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: 100%;
  height: 90px;
  border-bottom: solid;
  color: rgba(255, 255, 255, 0.80);
  background-color: rgba(0, 0, 0, 0.8);
}
#headerTitle{
  width: 50%;
  height: auto;
  font-size: 1em;
  font-weight: bolder;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  align-items: center;
  margin-left: 2%;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'Candal', sans-serif;
  cursor: pointer;
  /*border: solid red;*/
}

nav{
  margin-right: 5%;
  width: 50%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}

ul{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  cursor: pointer;
  /*margin: 0 5%;*/
  width: 90%;
}

.nav>ul>li{
  /*border: solid red;*/
  margin-right: 2%;
  font-size: 1.2em;
  font-family: 'Candal', sans-serif;
  list-style-type: none;
}

main{
  height: auto;
  width: auto;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
}

footer{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  width: auto;
  height: 35px;
  border-top: solid;
  color: rgba(255, 255, 255, 0.80);
  background-color: rgba(0, 0, 0, 0.8);
}

#outerBox{
  height: 540px;
  overflow-y: auto;
}
#resultsOuterBox{
  height: 540px;
  overflow-y: auto;
}
#results{
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  animation-duration: 2s;
}
#searchBox{
  margin: auto;
  margin-top: 10%;
  -moz-margin-top: 50px;
  margin-bottom: 1%;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.90);
  border: solid .5px;
  border-radius: 5px;
  font-size: 2.5em;
  width: 80%;
  height: 80px;
  /*padding-left: 10px;*/
  text-align: center;
  font-family: 'Candal', sans-serif;
}
.resultBox{
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  width: 99%;
  height: 150px;
  /*background-color: rgba(0, 0, 0, 0.33);*/
  border: solid .1em;
  color: white;
  margin-bottom: 5px;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
}
.leftResult{
  margin-left: 5%;
  width: 20%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
}
.resultImg{
  margin: auto;
  margin-bottom: 5%;
  width: 85%;
  height: 98%;
}
.rightResult{
  font-family: 'Yanone Kaffeesatz', sans-serif;
  background-color: rgba(0, 0, 0, 0.45);
  padding: 5px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}
.rideSide{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -webkit-justify-content: flex-end;
}

.mapIcon{
  width: 15%;
  margin-right: 2%;
  cursor: pointer;
}

.resultTitle{
  width: 100%;
  font-size: 1.5em;
  font-family: 'Candal', sans-serif;
  margin: 0;
  margin-top: 10px;
}
.resultBody{
  border: solid white;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  align-items: center;
  -webkit-align-items: center;
  -moz-align-items: center;
}

.resultsInfo{
  height: auto;
  width: 50%;
  padding: 0;
  padding-left: 10%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.resultNumber{
  margin-top: 10px;
  margin-bottom: 0;
  color: white;
}
.resultSite {
margin-top: 0;
margin-bottom: 0;
color: white;
}

.resultAddress{
  cursor: pointer;
  margin-top: 0;
  margin-bottom: 0;
  margin: 0.3% 0;
  width: 100%;
  color: white;
}
.resultsExtra{
  text-align: right;
  height: auto;
  width: 50%;
  padding: 0;
  padding-right: 5%;
}
.resultHood{
  margin: 2% 0;
  width: 100%;
}

.resultHours{
  margin: 2% 0;
  width: 100%;
}
.resultType{
  margin: 2% 0;
  width: 100%;
}
.resultSite{
  margin: 0;
  cursor: pointer;
  width: 100%;
}
.loadingImage{
  background-image: url("./images/loading.gif");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*border: solid;*/
  position: fixed;
  margin-top: 4%;
  margin-left: 10%;
  height: 60%;
  width: 80%;
  /*background-color: black;*/
  opacity: .7;
}
#mapView{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  width: auto;
  height: auto;
}
#takeMe{
  background-color: rgba(0, 0, 0, 0.68);
  color: white;
  width: 35%;
  font-size: 1em;
  border: solid .5px;
  border-radius: 5px;
  margin-right: 0;
  text-align: center;
}

#googleMap{
  width: 900px;
  height: 400px;
}
#turnButtons{
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  flex-direction: row;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  width: auto;
  height: auto;
}

#turnByTurn{
  width: 400px;
  font-size: .9em;
  overflow: auto;
  /*background-color: rgba(250, 250, 250, 0.7);*/
}
#backButton{
  margin: auto;
  margin-top: 1%;
  margin-bottom: 1%;
  background: rgba(0, 0, 0, 0.8);
  color: rgba(255, 255, 255, 0.90);
  border: solid 1px;
  border-radius: 5px;
  font-size: 2.5em;
  width: 80%;
  height: 80px;
  /*padding-left: 10px;*/
  text-align: center;
  font-family: 'Candal', sans-serif;
  cursor: pointer;
}

.adp-placemark{
  /*background-color: rgba(0, 0, 0, 0.4);*/
}
.adp-substep{
  color: white;
  /*background-color: rgba(0, 0, 0, 0.4);*/
}
table.adp-placemark{
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-top: solid 2px white;
  border-bottom: solid 2px white;
  color: white;
}
.adp-summary{
  color: white;
}
.adp-legal{
  color: white;
}
.adp-text{
  color: white;
}
.adp{
  background-color: rgba(0, 0, 0, 0.58);
}
#mode{
  background-color: rgba(0, 0, 0, 0.58);
  color: white;
  width: 35%;
  font-size: 1em;
  border: none;
}
#sadPanda{
  width: 30%;
}
#tryAgain{
  font-size: 2em;
  color: rgba(255, 255, 255, 0.78);
  font-family: 'Candal', sans-serif;
}
.hHDropDown{
  background-color: rgba(0, 0, 0, 0.58);
  color: white;
}
.happeningNow{
  border: solid red;
}
#nowNowNow{
  /*height: auto;*/
  width: 20%;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  justify-content: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
}
.nowPic{
  display: none;
  width: 60%;
  height: 60%;
  border-radius: 10px;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}
#yelpPower{
  height: 70%;
  margin-top: 4px;
  margin-left: 10px;
}
#googlePower{
  height: 70%;
  margin-top: 4px;
  margin-right: 10px;
}
